In [1]:
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestRegressor

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

np.random.seed(0)

In [2]:
data = pd.read_csv('insurance.csv')
data.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [3]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
categories = ['sex', 'smoker', 'region']

In [5]:
encoder = LabelEncoder()

In [6]:
y = data.charges
X = data.drop('charges', axis=1)

X.head(3)

   age     sex    bmi  children smoker     region
0   19  female  27.90         0    yes  southwest
1   18    male  33.77         1     no  southeast
2   28    male  33.00         3     no  southeast

In [7]:
encoded_X = X.join(X[categories].apply(encoder.fit_transform).add_suffix('_label'))
encoded_X.head(3)

,age,sex,bmi,children,smoker,region,sex_label,smoker_label,region_label
0,19,female,27.90,0,yes,southwest,0,1,3
1,18,male,33.77,1,no,southeast,1,0,2
2,28,male,33.00,3,no,southeast,1,0,2

In [8]:
X = encoded_X.drop(categories, axis=1)
X.head(3)

   age    bmi  children  sex_label  smoker_label  region_label
0   19  27.90         0          0             1             3
1   18  33.77         1          1             0             2
2   28  33.00         3          1             0             2

In [9]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=11)

In [10]:
model = RandomForestRegressor(random_state=0)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [11]:
predictions = model.predict(X_valid)

In [ ]:
mae = mean_absolute_error(predictions, y_valid)
print('The MAE: ', mae)